<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Test</title>
</head>
<body>
    <h1>Welcome to the grid</h1>
    <h2>Start Here</h2>
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <div class="right_items"></div>
            <div class="right_items"></div>
            <div class="right_items"></div>
        </div>
    </div>
    <div class="testimonials">
        <div class="single_test"></div>
        <div class="single_test"></div>
        <div class="single_test"></div>
        <div class="single_test"></div>
        <div class="single_test"></div>
        <div class="single_test"></div>
        <div class="single_test"></div>
        <div class="single_test"></div>
        <div class="single_test"></div>
    </div>
</body>
</html>